<div class="container mt-4">

    <div class="alert alert-info small">
        <h5 class="text-center">Atenção</h5>
        <p class="text-center">As alterações realizadas refletirão na lista de produtos, porém ao atualizar a página (F5) as alterações serão perdidas devido ao FAKE API de fato não atualizar, criar ou excluir o produto.</p>
        
    </div>

  <h2>Administração de Produtos</h2>

  <button class="btn btn-success mb-3" (click)="openModal()">Criar Novo Produto</button>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Preço</th>
        <th>Categoria</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (produto of produtos; track $index) {
        <tr>
          <td>{{ produto.id }}</td>
          <td>{{ produto.title }}</td>
          <td>{{ produto.price | currency:'BRL' }}</td>
          <td>{{ produto.category }}</td>
          <td>
            <button class="btn btn-sm btn-info me-1" (click)="edit(produto); openModal()">Editar</button>
            <button class="btn btn-sm btn-danger" (click)="delete(produto)">Excluir</button>
          </td>
        </tr>
      }

    </tbody>
  </table>

  <!-- Modal Bootstrap para criar/editar -->
  <div class="modal fade draggable" id="produtoModal" tabindex="-1" aria-labelledby="produtoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" >
          <h5 class="modal-title fw-bold" id="produtoModalLabel">{{ editProduto.id ? 'Editar Produto' : 'Criar Produto' }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="fw-bold">Título</label>
            <input class="form-control" [(ngModel)]="editProduto.title">
          </div>
            <div class="mb-3">
                <label class="fw-bold">Preço</label>         
                <input class="form-control" 
                    type="text"
                    [(ngModel)]="editProduto.price"
                    mask="separator.2"
                    thousandSeparator="."
                    decimalMarker=","
                    prefix="R$ ">
            </div>

          <div class="mb-3">
            <label class="fw-bold">Categoria</label>
            <select class="form-control" [(ngModel)]="editProduto.category">
              <option *ngFor="let c of categorias">{{ c }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label class="fw-bold">Descrição</label>
            <textarea class="form-control" [(ngModel)]="editProduto.description"></textarea>
          </div>
          <div class="mb-3">
            <label class="fw-bold">Imagem URL</label>
            <input class="form-control" [(ngModel)]="editProduto.image">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetForm()">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="saveProduto(); closeModal()">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Confirmação de Exclusão -->
<div class="modal fade draggable" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" >
        <h5 class="modal-title" id="confirmDeleteModalLabel">Excluir Produto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">
        Tem certeza que deseja excluir o produto <strong>{{ deleteProduto?.title }}</strong>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="confirmDelete()">Excluir</button>
      </div>
    </div>
  </div>
</div>
