<div class="container mt-4 row">
  <h2 class="mb-4">Lista de Produtos</h2>

  <!-- 🔎 Filtro de busca -->
  <div class="mb-3 col-4">
    <label for="busca" class="form-label text-primary">
      <h5>Buscar:</h5>
    </label>
    <input type="text" id="busca" class="form-control" placeholder="Digite um título ou descrição"
      [(ngModel)]="textoBusca" (input)="filtrarProdutos()">
  </div>

  <!-- 📂 Filtro de categoria -->
  <div class="mb-3 col-2">
    <label for="categoria" class="form-label text-primary">
      <h5>Filtrar por Categoria:</h5>
    </label>
    <select id="categoria" class="form-select" [(ngModel)]="categoriaSelecionada" (change)="filtrarProdutos()">
      <option value="todas">Todas</option>
      @for (cat of categorias; track cat) {
      <option [value]="cat">{{ cat | capitalizeWords }}</option>
      }
    </select>
  </div>

  <!-- 💰 Filtro por preço -->
  <div class="mb-3 row col-6">
    <div class="col-md-6">
      <label for="precoMin" class="form-label text-primary">
        <h5>Preço Mínimo:</h5>
      </label>
      <input type="text" mask="separator.2" thousandSeparator="." decimalMarker="," id="precoMin" class="form-control"
        [(ngModel)]="precoMin" (input)="filtrarProdutos()" placeholder="0,00">
    </div>
    <div class="col-md-6">
      <label for="precoMax" class="form-label text-primary">
        <h5>Preço Máximo:</h5>
      </label>
      <input type="text" mask="separator.2" thousandSeparator="." decimalMarker="," id="precoMax" class="form-control"
        [(ngModel)]="precoMax" (input)="filtrarProdutos()" placeholder="0,00">
    </div>
  </div>

  <!-- 🚨 Nenhum produto -->
  @if (produtosFiltrados.length === 0) {
  <div class="alert alert-warning text-center">
    Nenhum produto encontrado.
  </div>
  }

  <!-- 📦 Lista de produtos -->
  <div class="row g-3">
    @for (produto of produtosFiltrados; track produto.id) {
    <div class="col-md-3">
    <app-product-card
      [produto]="produto"
      (selecionar)="adicionarAoCarrinho($event)">
    </app-product-card>
    </div>
    }
  </div>
</div>